*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 3rem 2rem;
    background-color: #FAFAFA;
}
.content h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #561D52;
}